<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Кто кому должен</div>
      <div class="panel-body">
        <p ng-show="viewCtrl.results.items.length === 0">Никто никому не должен</p>
        <table class="table table-striped table-condensed" ng-show="viewCtrl.results.items.length != 0">
          <thead>
            <tr>
              <th>Кто</th>
              <th>Кому</th>
              <th>Сколько</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in viewCtrl.results.items">
              <th>{{item.from}}</th>
              <th>{{item.to}}</th>
              <th>{{item.amount}}</th>
            </tr>
          </tbody>
        </table>
        <div ng-show="viewCtrl.results.items.length != 0">
          <div>
            <span>Затраты на человека: {{viewCtrl.results.perPerson | currency:""}}</span>
          </div>
          <div ng-show="viewCtrl.results.ostatok != 0">
            <span>Неподеленный остаток: {{viewCtrl.results.ostatok | currency:""}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary btn-md" ng-click="viewCtrl.changeLocationToMain()">Новый расчёт</button>
  </div>
</div>
