.bg-2 {
  background-color: #ffffff;
}
.page-header {
}
.jumbotron {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #673ab7
}

.jumbotron p {
  color: #ffffff;
  opacity: 0.7;
}

h2 {
  color: #ffffff;
}

.panel-default > .panel-heading {
  background-color: #b39ddb;
}
